.text {
    font-family:'Courier New', Courier, monospace;
    color: black;
}
.container {
    width: 100%;
    text-align: center;
}
.sub-container {
    background-color: salmon;
    margin: 0 auto;
    width: 700px;
    height: 200px;
    align-self: center;
    padding: 15px 30px;
    border-radius: 5px;
}