---
const { image,link } = Astro.props;
---

<div class="flex items-center space-x-2">
  <a href={link} target="_blank" rel="noopener noreferrer">
    <img src={image} class="w-8 h-8 rounded-full shadow-sm" />
  </a>
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="font-semibold text-gray-800 hover:text-blue-600 hover:underline focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md transition duration-150 ease-in-out"
  >
    @<slot />
  </a>
</div>
